# [N-Job App Credentials]
NJOB_ID=your_id
NJOB_PW=your_password

# [WordPress.com API Credentials]
WP_URL=https://public-api.wordpress.com/wp/v2/sites/your-site.wordpress.com
WP_USERNAME=your_wordpress_username
WP_APP_PASSWORD=your_application_password
SITE_CONTACT_EMAIL=admin@your-domain.com
